.card{
  margin-top: 20px;
}

#main-profile-img {
  width: 140px;
  height: 140px;
 
  border-style: solid;
  border-color: #FFFFFF;
  box-shadow: 0 0 8px 3px #B8B8B8;
   position: relative;
}

.wrap {
  position: relative;
}
.wrap .fa-car{

  text-align: center;
  color:#1c86c8;
  padding-top:25px;
}
.wrap #delete {

font-weight: 900;

position: absolute;
width: 30px;
height: 30px;
border-radius: 50%;
border: 1px solid grey;
top: 125px;
left: 105px;
background: white;
color: red;
align-items: center;
display: flex;
justify-content: center;
} 
.wrap #browse {

  font-weight: 900;
  
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid grey;
  top: 125px;
  left: 8px;
  background: white;
  color: #38a2f6;
  align-items: center;
  display: flex;
  justify-content: center;
  } 
label{
  font-size:12px;
  font-weight: bold;
  margin-bottom: 10px;
  color:grey;
}

.row {
  margin: 15px;
}

.buttons {
  display: flex;
  
  gap: 20px;
  margin-left: 5px;
}
button {
  width: 80px;

}

.e-upload{
  
  visibility: hidden;
  height: 30px;
}
.buttons .save {
  width: 100px;
  background-color: #38a2f6;
}
.buttons .cancel {
  width: 100px;
  background-color: white;
  color: black;
}
.e-avatar
{
  background-color: white;
  color:#1c86c8
}

#photo-error{
  margin-left:20px;

}
@media only screen and (max-width: 1023px) {
  #main-profile-img {
    width: 140px;
    height: 140px;
  
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 0 0 8px 3px #b8b8b8;
    position: relative;
    margin-top: -12px;
    margin-left: -200px;
    margin-bottom:400px;
  }
  .col-9{
    margin-top:170px;
  }
  .wrap {
    position: relative;
  }
  .wrap .fa-user {
    text-align: center;
    color: #1c86c8;
    padding-top: 25px;
  }
  .wrap #delete {
    font-weight: 900;
  
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid grey;
    top: 120px;
    left: -100px !important;
    background: white;
    color: red;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .wrap #browse {
    font-weight: 900;
  
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid grey;
    top: 120px !important;
    left: -190px !important;
    background: white;
    color: #38a2f6;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
.astriks{
  color: red !important;
  margin-left: 10px !important;
}
  /*for dropdown*/
.invalid > span {
  border: 1px solid red !important;
}


.valid > span{
  border: 1px solid  #CED4DA !important;
}

.astriks{
  color: red !important;
  margin-left: 10px !important;
}

/* for TextBox
input.ng-invalid {
  border: 1px solid red !important;
}
input.ng-valid {
  border: 1px solid  #CED4DA !important;
}
 */

 .invalidTitle {
  border-color: red !important;
}