
.e-card {
 
    width: 550px;
    border-radius:10px;
    margin-top: 50px !important;
  }
button,button:active,button:hover,button:focus{
  margin-top:10px;
  background-color: #778bfd;
  border:none;
}

